Repository layer5io/exoscale-academy, pull requests merged in 2025-07, with the labels that each got.

#6 Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: area/challenges, area/learning-paths

#5 Update hugo.yaml
  hugo.yaml
Labels: area/challenges, area/learning-paths

#13 Update Contributing.md for content-only site
  CONTRIBUTING.md
Labels: area/challenges, area/learning-paths

#9 Update package.json
  package.json
Labels: area/challenges, area/learning-paths

#28 Fix: Moved SKS Starter Images to their folder
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/containers/content/build-and-run.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/containers/content/containers.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/containers/content/dockerhub.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/kubernetes/content/basic-concepts.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/kubernetes/content/features.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/kubernetes/content/positioning.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/kubernetes/content/simple-examples.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/kubernetes/content/what-it-is.md
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/basic-concepts.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/container.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/docker-build.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/docker-hub.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/docker-run.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/features.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/hello-world-container.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/nodejs-app.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/positioning.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/ubuntu-container.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/sks-starter/what-it-is.png
Labels: area/challenges, area/learning-paths

#32 Intro storage
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/block-storage/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/block-storage/content/benefits.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/block-storage/content/details.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/block-storage/content/use-cases.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/file-storage/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/file-storage/content/benefits.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/file-storage/content/details.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/file-storage/content/use-cases.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/object-storage/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/object-storage/content/benefits.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/object-storage/content/details.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/object-storage/content/use-cases.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/object-vs-block/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/object-vs-block/content/object-vs-block.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/what-types-of-storage/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/what-types-of-storage/content/types-of-storage.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/why-cloud-storage/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/why-cloud-storage/content/cloud-storage.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/why-storage/_index.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/why-storage/content/defination.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/why-storage/content/overview.md
  content/learning-paths/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/why-storage/content/storage-duration.md
  go.mod
  go.sum
  hugo.yaml
  package-lock.json
  static/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/sec3-sub1-unit1-storage-color.jpg
  static/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/sec3-sub1-unit1-storage-sys.jpg
  static/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/sec3-sub1-unit1-storage-tier.jpg
  static/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/sec3-sub1-unit2-criteria.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/sec3-sub1-unit3-duration.jpg
  static/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/sec3-sub2-unit1-cloud-storage.png
  static/090e7114-509a-4046-81f1-9c5fb8daf724/intro-storage/sec3-sub3-unit1-file-object-block.png
Labels: area/challenges, area/learning-paths

#30 Update: INTRO DBaaS Learning Path
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/benefits.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/data.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selections.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/tools-data.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/value-chain.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/volume.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/benefits.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/features.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/powered-Aiven.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/managed-db.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/responsibility.md
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/CAP.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/CHM.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/about-aiven.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/aiven-exoscale.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/book.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/capex-opex.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/data-word-cloud.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/datacenter.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/db-icon-1.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/db-icon-2.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/db-icon-3.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/db-word-cloud.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/dbaas-features.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/dbaas-kafka.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/dbaas-mysql.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/dbaas-opensearch.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/dbaas-pg.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/dbaas-redis.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/dbaas.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/evolution.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/future-of-dbs.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/history-part-1.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/history-part-2.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/scenario.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/selection.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/spectrum.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/structure.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/value-of-data-1.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/value-of-data-2.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/volume-of-data.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/zettabyte.png
Labels: area/challenges, area/learning-paths

#42 Update Theme
  go.mod
  go.sum
Labels: area/challenges, area/learning-paths

#58 No blank issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: area/challenges, area/learning-paths

#60 slack.yml workflow update
  .github/workflows/slack.yml
Labels: area/challenges, area/learning-paths

#63 Chore: Upgrade to Academy Theme v0.1.6
  go.mod
  go.sum
Labels: area/challenges, area/learning-paths

#57 Update: ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: area/challenges, area/learning-paths

#67 Chore: Remove themeColor
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-details/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-containers/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-exoscale-sks/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-managed-kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/block-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/file-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/object-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/object-vs-block/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/what-types-of-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-cloud-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/sks-welcome/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/troubleshooting/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/sks-welcome/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/starter/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/starter/cloud-native/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/starter/cloud/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/starter/exoscale/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/starter/products/_index.md
Labels: area/challenges, area/learning-paths

#65 k8s-workshop meta data update
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/local/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/configuration/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/configuration/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/configuration/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/deployment/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/deployment/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/deployment/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/helm/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/helm/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/helm/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/ingress/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/ingress/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/ingress/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/job/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/job/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/job/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/pod/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/pod/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/pod/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/service/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/service/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/service/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/storage/content/learn.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/storage/content/practice.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/troubleshooting/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/votingapp/_index.md
Labels: area/challenges, area/learning-paths

#35 Intro sustainability
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/corporate-sustainability/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/corporate-sustainability/content/benefits.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/corporate-sustainability/content/challenges.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/corporate-sustainability/content/corporate-sustainability.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/corporate-sustainability/content/key-principles.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/corporate-sustainability/content/make-it-work.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/cs-and-cloud/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/cs-and-cloud/content/conclusion.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/cs-and-cloud/content/considerations.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/cs-and-cloud/content/cs-and-cloud.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/cs-and-cloud/content/enhancing-sustainability.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-cloud/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-cloud/content/csrd-and-cloud.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-cloud/content/summary.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-exoscale/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-exoscale/content/cloud-assess.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-exoscale/content/experience.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-exoscale/content/summary.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-providers/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-providers/content/csrd-and-providers.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd-and-providers/content/summary.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd/content/aspects.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd/content/definition.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/csrd/content/explained.md
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit1-cs-1.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit2-kp-eco.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit2-kp-env.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit2-kp-social.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit2-kp-stake.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit3-sus101-3.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit4-sus101-4.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub1-unit5-sus101-5.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub2-unit4-sus101-con.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub4-unit1-csrd-cloud-1.jpg
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub5-unit1-csrd-prov-1.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/sec3-sub6-unit1-csrd-exo-1.png
Labels: area/challenges, area/learning-paths

#69 Delete .github/workflows/multi-platform.yml
  .github/workflows/multi-platform.yml
Labels: area/challenges, area/learning-paths

#66 Update: Page Bundling with Images for SKS Starter
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/application-deployment/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/build-and-run/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/build-and-run/docker-build.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/build-and-run/docker-run.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/containers/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/containers/container.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/dependencies/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/docker-kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/dockerfile/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/dockerhub/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/dockerhub/docker-hub.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/running-application/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/sample-application/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/sample-application/nodejs-app.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/basic-commands/basic-commands.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/basic-comments/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/basic-comments/basic-concepts.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/features/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/features/features.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/imperative-vs-declarative/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/positioning/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/positioning/positioning.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/simple-examples/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/simple-examples/hello-world-container.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/simple-examples/ubuntu-container.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/software-needed/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/what-it-is/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/what-it-is/what-it-is.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/sks-welcome/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/sks-welcome/content/sks-welcome.md
Labels: area/challenges, area/learning-paths

#68 Update: Page Bundling with Images for SKS Advanced
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/cluster-structure/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/cluster-structure/cluster-structure.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/ingress-config/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/ingress-config/ingress-config.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/ingress/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/ingress/ingress.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/kubernetes-concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/manifest-praxis/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/manifest-praxis/manifest-praxis.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/manifest-theory/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/manifest-theory/manifest-theory.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/manifest-tricks/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/manifest-tricks/manifest-tricks.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/namespace-praxis/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/namespace-praxis/namespace-praxis.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/namespace-theory/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/namespace-theory/namespace-theory.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/updates-praxis/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/updates-praxis/updates-praxis.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/updates-theory/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/content/updates-theory/updates-theory.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/sks-welcome/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/sks-welcome/content/sks-welcome.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/kubernetes-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/longhorn-praxis/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/longhorn-praxis/longhorn-praxis.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/longhorn-theory/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/longhorn-theory/longhorn.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/longhorn-theory/longhorn2.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/persistence-volumes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/storage-technologies/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/content/volumes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/troubleshooting/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/troubleshooting/content/errors-debugging/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/troubleshooting/content/troubleshooting/_index.md
Labels: area/challenges, area/learning-paths

#70 Update: Page Bundling with Images for Intro Pricing
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/content/calculate-product-pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/content/calculate-scenario-pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/content/pricing-calculator/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/content/pricing-calculator/calculator.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/content/typical-web-application/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/pricing/content/typical-web-application/pricing.png
  static/98e16360-a366-4b78-8e0a-031da07fdacb/images/exoscale-icon.png
Labels: area/challenges, area/learning-paths

#61 PR-template-update
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/challenges, area/learning-paths

#44 Update: CKA Preparation
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/cka.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/ckad.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/cks.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/kcna.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/kcsa.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/psi-browser.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/objectives.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/step-1.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/step-2.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/step-3.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/ClusterIP.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/LoadBalancer.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/NodePort.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/cni.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/container-to-container.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/encapsulated.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/ingress.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/pod-to-pod-different-nodes.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/pod-to-pod-same-node.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/uncapsulated.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/operations/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/scheduling/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/scheduling/nodeName.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/scheduling/nodeSelector.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/scheduling/scheduling.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/scheduling/topologySpreadConstraint.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/certificate.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/control-plane.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/jwt.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/netpol.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/rbac-resources.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/rbac.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/troubleshooting/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/troubleshooting/application-failure-2.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/troubleshooting/logging-levels.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/troubleshooting/monitoring-prometheus.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/daemonset.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/deployment.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/main-resources.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/namespace-1.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/namespace-2.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/podinfo.png
Labels: area/challenges, area/learning-paths

#71 Update README.md
  README.md
Labels: area/challenges, area/learning-paths

#76 Updated frontmatter & added page-bundleing
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/benefits/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/benefits/db-icon-1.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/benefits/db-icon-2.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/benefits/db-icon-3.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/data/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/data/data-word-cloud.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/future-of-dbs.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/history-part-1.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/history-part-2.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/CAP.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/book.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/dbaas-kafka.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/dbaas-mysql.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/dbaas-opensearch.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/dbaas-pg.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/dbaas-redis.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/scenario.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/selection.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/spectrum.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/structure.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/tools-for-data/CHM.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/tools-for-data/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/tools-for-data/db-word-cloud.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/value-chain/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/value-chain/value-of-data-1.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/value-chain/value-of-data-2.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/volume/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/volume/volume-of-data.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/volume/zettabyte.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/benefits/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/benefits/dbaas.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/features/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/features/dbaas-features.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/powered-aiven/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/powered-aiven/about-aiven.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/powered-aiven/aiven-exoscale.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution/evolution.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution/scenario.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/managed-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/managed-db/capex-opex.png
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/responsibility/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/responsibility/datacenter.png
Labels: area/challenges, area/learning-paths

#81 HTML update to remove warnings
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/configuration/content/practice/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/deployment/content/practice/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/ingress/content/practice/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/job/content/practice/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/pod/content/practice/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/service/content/practice/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/storage/content/practice/_index.md
Labels: area/challenges, area/learning-paths

#84 Inital design embed for cka
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/embedded-design-meshery-learning-path-design-647.js
Labels: area/challenges, area/learning-paths

#90 add tags and categories
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/advanced/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/advanced/content/architecture/architecture.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/networks/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/overview/_index.md
Labels: area/challenges, area/learning-paths

#93 add tag in `intro-storage`
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/block-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/file-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/object-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/object-vs-block/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/what-types-of-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-cloud-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-storage/_index.md
Labels: area/challenges, area/learning-paths

#96 `unbold intro-dbaas`
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/benefits/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/data/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/tools-for-data/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/value-chain/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/volume/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/benefits/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/features/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/content/powered-aiven/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/managed-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/responsibility/_index.md
Labels: area/challenges, area/learning-paths

#95 intro dbaas tags and categories
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/exoscale-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/_index.md
Labels: area/challenges, area/learning-paths

#111 tags categories level update
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/application-deployment/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/build-and-run/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/containers/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/dependencies/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/docker-kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/dockerfile/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/dockerhub/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/running-application/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/containers/content/sample-application/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/basic-commands/basic-commands.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/basic-comments/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/features/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/imperative-vs-declarative/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/positioning/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/simple-examples/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/software-needed/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/kubernetes/content/what-it-is/_index.md
Labels: area/challenges, area/learning-paths

#107 tags categories level update intro-storage
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/block-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/file-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/object-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/object-vs-block/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/what-types-of-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-cloud-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-cloud-storage/content/cloud-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/why-storage/content/defination/_index.md
Labels: area/challenges, area/learning-paths

#104 tags categories level update k8s-workshop
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/local/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/configuration/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/deployment/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/helm/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/ingress/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/job/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/pod/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/service/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/troubleshooting/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/votingapp/_index.md
Labels: area/challenges, area/learning-paths

#112 revert subheadding `intro k8s`
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-details/content/features/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-containers/content/experiences-we-want-to-change/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-containers/content/history-of-deployment/_index.md
Labels: area/challenges, area/learning-paths

#106 cka tag level categories update
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/certifications/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/networking/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/operations/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/scheduling/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/security/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/troubleshooting/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/workload/_index.md
Labels: area/challenges, area/learning-paths

#94 intro complicance tags and categories
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/contractual-setup/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/exoscale-compliance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/response-support/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/sustainable-cloud/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/technical-security/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/what-compliance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/why-compliance/_index.md
Labels: area/challenges, area/learning-paths

#110 tags categories levle sks-advance update
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/sks-welcome/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/troubleshooting/_index.md
Labels: area/challenges, area/learning-paths

#117 Add Meshery Embeddings
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/incoming-traffic.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/incoming-traffic.yml
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/internal-traffic.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/internal-traffic.yml
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/outgoing-traffic.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/outgoing-traffic.yml
Labels: area/challenges, area/learning-paths

#119 add ids to learning path and content
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-compliance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-sustainability/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-advance/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/sks-starter/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/starter/_index.md
Labels: area/challenges, area/learning-paths

#123 Update README.md
  README.md
Labels: area/challenges, area/learning-paths

#127 Added embedding in dbaas
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/data/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/embedded-design-exoscale-hist-1.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/embedded-design-exoscale-hist-2.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/embedded-design-exoscale-kafka.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/embedded-design-exoscale-mysql.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/embedded-design-exoscale-opensearch.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/embedded-design-exoscale-postgres.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/embedded-design-exoscale-scenario.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution/embedded-design-exoscale-scenario.js
Labels: area/challenges, area/learning-paths

#130 Fix: Removed the hyperlinks to the original images
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/basics/content/traffic/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/advanced-course/networks/content/load-balancing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cka-prep/content/creation/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/history-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/databases/content/selection-of-db/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-dbaas/managed-databases/content/evolution/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-managed-kubernetes/content/managed-kubenetes/_index.md
Labels: area/challenges, area/learning-paths

#133 Revert "Update Theme"
  go.mod
  go.sum
Labels: area/challenges, area/learning-paths

#138 Leecalcote/ci/makefile-overhaul
  .github/build/Makefile.core.mk
  .github/build/Makefile.show-help.mk
  Makefile
  go.mod
  go.sum
Labels: area/challenges, area/learning-paths

#143 broken image and alt fix
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/content/cronjob/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/content/daemonset/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/content/deployment/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/content/imp-building-blocks/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/content/ingress/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/content/pod/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-building-blocks/content/replicaset/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-details/content/features/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-details/content/imperative-vs-declarative/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-details/content/kubernetes-is/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/kubernetes-details/content/kubernetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-containers/content/container-benefits/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-containers/content/experiences-we-want-to-change/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-containers/content/history-of-deployment/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-containers/content/new-idea-concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-exoscale-sks/content/packaging-and-pricing/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-exoscale-sks/content/scalable-kubernetes-service/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-kubernetes/content/kubernetes-plain-english/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-kubernetes/content/without-container/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-managed-kubernetes/content/managed-ecosystem/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/intro-kubernetes/why-managed-kubernetes/content/managed-kubenetes/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/main-resources/content/configuration/content/learn/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/exoscale-managed-kubernetes/content/creating-sks-cluster/content/exoscale-account.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/exoscale-managed-kubernetes/content/creating-sks-cluster/content/using-pulumi.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/exoscale-managed-kubernetes/content/deploying-votingapp/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/exposing-votingapp/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/managing-secrets/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/persisting-data/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/using-object-storage/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/practice-on-exoscale/votingapp/_index.md
Labels: area/challenges, area/learning-paths

#146 Resolve 'make site' build failure due to SASS error fix
  go.mod
  go.sum
Labels: area/challenges, area/learning-paths

#147 added the workload png file converted to meshery design for the learning workshop
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/concepts/_index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/concepts/image-3.js
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/kubernetes-workshop/concepts/image-3.yml
Labels: area/challenges, area/learning-paths

#149 Fix: CSS Rendering for Example Sites
  hugo.yaml
Labels: area/challenges, area/learning-paths

#180 Create static.yml
  .github/workflows/static.yml
Labels: area/challenges, area/learning-paths

#182 Trigger build preview on PR
  .github/workflows/static.yml
Labels: area/challenges, area/learning-paths

#190 Update static.yml
  .github/workflows/static.yml
Labels: area/challenges, area/learning-paths

#187 Update README.md
  README.md
Labels: area/challenges, area/learning-paths

#184 [Automated] Update academy-theme to v0.1.22
  go.mod
  go.sum
Labels: pr/dependencies, area/challenges, area/learning-paths

#193 Description Update Cloud Fundamentals
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/_index.md
Labels: area/challenges, area/learning-paths

#199 Add sample quiz
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/cka-prep/cka/content/quiz.md
  go.mod
  go.sum
Labels: area/challenges, area/learning-paths

#222 [Automated] Update academy-theme to v0.1.27
  go.mod
  go.sum
Labels: pr/dependencies, area/challenges, area/learning-paths

#225 Add "exoscale" and "academy" labels
  .github/labeler.yml
Labels: area/challenges, area/learning-paths

#227 Update _index.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/_index.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#220 Add Quiz for SKS Advanced
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/concepts/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/storage/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/troubleshooting/knowledge-check/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#226 Added knowledge-checks for Intro Compliance Course
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-compliance/contractual-setup/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-compliance/exoscale-compliance/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-compliance/response-support/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-compliance/sustainable-cloud/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-compliance/technical-security/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-compliance/what-compliance/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-compliance/why-compliance/knowledge-check/quiz.md
Labels: pr/do-not-merge, area/challenges, area/learning-paths, academy, exoscale

#228 Add Quiz for Pricing Course
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/pricing/pricing/knowledge-check/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#230 intro storage quiz
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/block-storage/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/file-storage/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/object-storage/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/object-vs-block/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/what-types-of-storage/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/why-cloud-storage/knowledge-check/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/why-storage/knowledge-check/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#231 Fix: Heirarchy
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/cka-prep/cka/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/concepts/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/troubleshooting/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-starter/containers/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-starter/kubernetes/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/advanced-course/advanced/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/advanced-course/basics/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/advanced-course/networks/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/advanced-course/overview/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/pricing/pricing/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/starter/cloud-native/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/starter/cloud/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/starter/exoscale/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/exoscale-101/starter/products/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#233 Docs: Introduce Exoscale Model Resources to README
  README.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#236 Intro kubernetes Quiz
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/kubernetes-building-blocks/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/kubernetes-details/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-containers/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-exoscale-sks/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-kubernetes/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-managed-kubernetes/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#241 percentage fix for end to end kubernetes and exoscale-101
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/kubernetes-building-blocks/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/kubernetes-details/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-exoscale-sks/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-kubernetes/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-managed-kubernetes/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/concepts/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-advance/troubleshooting/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-starter/containers/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/sks-starter/kubernetes/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#239 Fixed Passing % for cloud fundamentals
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/block-storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/file-storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/object-storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/object-vs-block/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/what-types-of-storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/why-cloud-storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-storage/why-storage/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-sustainability/corporate-sustainability/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-sustainability/cs-and-cloud/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-sustainability/csrd-and-cloud/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-sustainability/csrd-and-exoscale/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-sustainability/csrd-and-providers/quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/cloud-fundamentals/intro-sustainability/csrd/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale

#238 Update quiz.md
  content/learning-paths/98e16360-a366-4b78-8e0a-031da07fdacb/end-to-end-kubernetes/intro-kubernetes/why-managed-kubernetes/quiz.md
Labels: area/challenges, area/learning-paths, academy, exoscale
